QPlainTextEdit, QTextEdit {
  border: 1px solid @input;
  border-radius: @controlRadius;
  padding: 8px;
  background: @field;
  color: @foreground;
}

QPlainTextEdit[designRole="codePreview"] {
  border: none;
  border-radius: 0;
  padding: 0;
}
