QTableView::item:selected, QListView::item:selected {
  background: @selection;
  color: @fg;
}

QListView::item:hover {
  background: @selection;
}

QListView[designSurface="sidebar"]::item:selected {
  background: @surface-raised;
  color: @fg;
  border-radius: @p1-radius-5;
}

QListView[designNavigationItem="true"]::item:hover {
  background: @surface-raised;
  color: @fg;
  border-radius: @p1-radius-5;
}
