QTableView {
  font-size: @font-dense;
}

QTableView QHeaderView {
  background: @surface-raised;
}

QTableView QHeaderView::section:horizontal {
  border-right: 1px solid @border;
}

QTableView QHeaderView:vertical {
  border-right: 1px solid @border;
}

QTableView QHeaderView::section:vertical {
  border-right: 1px solid @border;
}

QTableView QTableCornerButton::section {
  background: @surface-raised;
  border-right: 1px solid @border;
}
