QTreeView::item {
  min-height: @row-line-height;
  padding: 3px 3px;
  border-radius: 0px;
}

QTreeView[designNavigationTree="true"]::item {
  min-height: @nav-item-min-height;
  padding: @nav-item-padding 3px;
  margin: 0px;
}
