QSplitter::handle {
  background: @border;
}

QSplitter::handle:hover, QSplitter::handle:pressed {
  background: @focus;
}

QMainWindow::separator {
  background: @border;
  width: 5px;
  height: 5px;
}

QMainWindow::separator:hover, QMainWindow::separator:pressed {
  background: @focus;
}
