QLabel[state="completed"], QLabel[state="success"], QLabel[state="loaded"],
QLabel[state="ready"], QLabel[state="restored"] {
  color: %19;
}

QLabel[state="warning"] {
  color: %20;
}

QLabel[state="failed"], QLabel[state="error"] {
  color: %21;
}
