QListView::item {
  min-height: 20px;
  padding: 4px 6px;
  border-radius: 0;
}

QListView[designNavigationItem="true"]::item {
  min-height: @navigationLineHeight;
  margin: 2px 5px;
  padding: 1px 3px;
}
