QDialog[appDialog="true"] {
  border-radius: %22px;
}

QDialog[appDialog="true"] QLabel[dialogDescription="true"] {
  color: %24;
}

QDialog[appDialog="true"] QLabel[dialogStatus="true"] {
  border: %2px solid %3;
  border-radius: %4px;
  padding: %15px;
}
