QMenu {
  min-width: 243px;
  margin: @shadow-margin;
  background: @surface;
  color: @fg;
  border: 1px solid @border;
  border-radius: @radius-lg;
  padding: 5px;
}

QMenu::item {
  min-width: 209px;
  min-height: 17px;
  padding: 6px 24px 6px 10px;
  border-radius: @radius-sm;
  font-size: @font-dense;
  font-weight: 400;
}

QMenu::item:selected {
  background: @primary;
  color: @primary-fg;
}

QMenu::item:disabled {
  color: @fg-disabled;
}

QMenu::separator {
  height: 1px;
  background: @border;
  margin: 4px 0;
}

QMenu::indicator {
  width: 16px;
  height: 16px;
}
